<div class="profile-information-container">
    <div class="column">
        <div class="section">
            <h2>Profile</h2>
            <div *ngFor="let item of displayedInformation" class="item">
                <span class="label">{{item.label}}: </span>
                <span class="value">{{item.value}}</span>
            </div>
        </div>
    </div>
    <div class = "component-separator"></div>
    <div class="column">
        <div class="section">
            <h2>Coordonnées</h2>
            <div *ngFor="let item of contactDetails" class="item">
                <span class="label">{{item.label}}: </span>
                <span class="value">{{item.value}}</span>
            </div>
        </div>
        <div class = "separator"></div>
        <div class="section">
            <h2>Personnes significatives</h2>
            <div *ngFor="let person of currentResident.significantPeople" class="item">
                <p>{{person.name}}</p>
                <p>{{person.relationType}}</p>
                <p>{{person.phoneNumber}}</p>
            </div>
        </div>
    </div>

</div>
