.profile-information-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start; /* Aligner les éléments en haut */
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.section {
    text-align: center;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 10px 0;
}

.label {
    font-weight: bold;
    text-align: left;
}

.value {
    text-align: right;
}

.current-care-giver{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}