<body>
  <app-header></app-header>
  <div class="content-container">
    <div class="options-container">
        <div class = options>
            <button *ngFor="let option of options" class="option" [ngClass]="{'selected': selectedOption === option}" (click)="selectOption(option)">{{option}}</button>
        </div>
    </div>

    <div class = "selected-option">
      <app-residents *ngIf="selectedOption === 'Residents' "></app-residents>
      <app-statistics *ngIf="selectedOption === 'Statistics' "></app-statistics>
      <app-calendar *ngIf="selectedOption === 'Calendar' "></app-calendar>
      <app-audit-trail *ngIf="selectedOption === 'Audit Trail' "></app-audit-trail>
      <app-chat *ngIf="selectedOption === 'Chat' "></app-chat>
    </div>
  </div>
</body>