.calendar-container {
    .calendar-controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  
    .calendar-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
  
      .day-header {
        font-weight: bold;
      }
  
      .day {
        height: 65px; /* Adjusted for potential event listing */
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f9f9f9;
        padding: 5px;
        overflow: auto; /* Allows scrolling within a day if many events */
        
        &.today {
          background-color: lightblue;
        }
        
        &.not-current {
          background-color: #e9ecef;
        }
        
        .date {
          font-weight: bold;
          margin-bottom: 5px;
        }
        
        .events {
          list-style-type: none;
          padding: 0;
          margin: 0;
          font-size: 0.75rem;
          
          li {
            background-color: #dff0d8;
            padding: 2px;
            margin-top: 2px;
          }
        }
      }
    }
}
