<div class="container">
    <div id="month-container">
        <div class="date">
            <!-- <div class="year"> {{ currentYear }} </div> -->
            <div class="month"> {{ displayMonth }} </div> 
        </div>
        <div class="navigation-icons">
            <span class="material-symbols-outlined navigate-next" (click)="navigatePreviousMonth()">navigate_before</span>
            <span class="material-symbols-outlined navigate-previous" (click)="navigateNextMonth()">navigate_next</span>
        </div>
    </div>
    <ul id="week-container">
        <li class="week-day" *ngFor="let day of weekdayNames"> {{ day }}</li>
    </ul>

    <ul id="calendar-grid">
        <li class="month-day" *ngFor="let day of numDays" [ngClass]="{'currentDay': day === currentDayIndex}">{{ day }}</li>
    </ul>
</div>