<div class="chat-area-container">
    <h1 class="chat-area">
        Chat my Caregivers
    </h1>
    <div class="chat-history">
        <div
            #messageList
            class="message-box"
            *ngFor="let message of roomMessages"
            [class.sent]="isSent(message)"
            [class.received]="!isSent(message)"
        >
            {{ message }}
        </div>
    </div>
    <div class="chat-input">
        <input
            type="text"
            placeholder="Enter your message..."
            [(ngModel)]="roomMessage"
        />
        <button type="submit" (click)="sendToRoom()">Send</button>
    </div>
</div>