<form>
    <label>Full Name</label>
    <input type="text">
    <br>
    <label>Phone Number</label>
    <input type="text">
    <br>
    <label>Email</label>
    <input type="email">
    <br>
    <label>Address</label>
    <input type="text">
    <br>
    <label>Relation type</label>
    <select>
        <option value="citizen">Friend</option>
        <option value="family">Family</option>
        <option value="colleague">Colleague</option>
        <option value="other">Other</option>
    </select>
    <br>
<button type="submit">Submit</button>
</form>